{% extends 'base.html' %}

{% block title %}
Boggle
{% endblock title %}

{% block content %}
    <table id="top-display">
        <tr>
            <td class="side-stat">
                <div class="stat-label">SCORE:</div>
                <div id="score-display">0</div>
            </td>
            <td class="center-stat">
                <div>Games Played: <span id="games-played">{{ games_played }}</span></div>
                <div>High Score: <span id="high-score">{{ high_score }}</span></div>
            </td>
            <td class="side-stat">
                <div id="timer"></div>
                <div class="stat-label">SECONDS LEFT!</div>
            </td>
        </tr>
    </table>    

    <table id="gameboard">
        {% for y in range(5) %}
            <tr id=f"row-{{y}}">
            {% for x in range(5) %}
                <td id=f"cell-{{x}}{{y}}" class="cell">
                    {{board[y][x]}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <table id="bottom-display">
        <tr>
            <td>
                <div id="form-container">
                    <form id="guess-form">
                        <label for="guess"></label><input type="text" name="guess" id="guess">
                        <button>Score Word</button>
                    </form>
                    <div id="guess-response">&nbsp;</div>
                </div>
                <div id="new-game-button-container" style="display: none">
                    <form id="new-game-form" action="/end-game" method="POST">
                        <input type="text" id="score" name="score" style="display: none">
                        <button id="new-game-button">New Game</button>
                    </form>
                 </div>
            </td>
        </tr>
    </table>  





{% endblock content %}